.user-spot-container {
  display: grid;
  flex-wrap: wrap;
  column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin: 60px 150px 60px 150px;

}
#spot-img {
  position: absolute;
  width: auto;
  max-width: 100%;
  object-fit: cover;
  min-height: 100%;
  border-radius: 10px;
    transition: 1s;
}
.user-img-div {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
  margin: 1em auto;
  border-radius: 15px;
}
.user-info-container {
  display: flex;
  flex-direction: column;
  transition: 1s;
	margin-bottom: 22px;
	width: auto;
}

.user-spot-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  color:rgb(41, 11, 11);
}
.user-editdelete {
  display: flex;
  justify-content:space-between;
  padding: 0px 2px 2px 0px;
  /* min-width: 0px; */
}

.user-submit-button {
  cursor: pointer;
  width: 115px;
  padding: 2.5px 9px;
  margin: 6px 0px 4px 0px;
     border: 1px rgb(235, 130, 133) solid;
    background: rgb(228, 118, 122);
  border-radius: 4px;
  font-size: 15px;
    transition: 0.5s;
display: grid;
}

.user-submit-button:hover {
  border: 1px rgb(255, 90, 96) solid;
  color:rgb(255, 90, 96);
  background: white;
    transition: 0.5s;
}
@media screen and (max-width:1379px) {
.user-submit-button{
  width: 80px;
}
}
@media screen and (max-width:1200px) {
 .user-spot-container {

  grid-template-columns: repeat(3, 1fr);
  transition: 1s;
}
}
@media screen and (max-width:934px) {
 .user-spot-container {

  grid-template-columns: repeat(2, 1fr);
  transition: 1s;
}
}
